
@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-color : white    ;
    }

    .column {
        width: 50%;
        text-align: center;
    }

    .row:after {
        content: "";
        display: table;
        background-color : white;
        clear: both;
        text-align: right;
        border: 2px;
    }

    h1 {
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 48px;
    }

    h2 {
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 27px;
        background-color : white    ;
    }

    h3 {
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
    }
</style>

<body>
    <center><h1><b>Welcome to the UCT project hub</b></h1></center>
    <br />

    <div class="row">
        <div class="column text-black bg-white">
            <br />
            <img src="/IndexBg.jpg" alt="bg" width="600" height="480" id="pic" style="float: left; margin-right: 40px;" />
        </div>
        <div class="column text-black bg-white">

            <div class="table table-bordered table-responsive table-hover">
                This will be the file, just removed it while I'm testing some stuff'
            </div>
        </div>
    </div>
</body>